<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Failed Data</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f4f4f4;">

    <div style="max-width: 800px; padding: 20px; background-color: #fff; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <p>Hello,</p>
        <p>Failed to post data from <strong>{{data['page_name']}}</strong> to Sanskar ERP.</p>
        <p>Site: <strong>{{data['host_name']}}</strong></p>

        <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
            <tr>
                <th style="border: 1px solid #ddd; padding: 8px; background-color: #f2f2f2; text-align: left;">Field</th>
                <th style="border: 1px solid #ddd; padding: 8px; background-color: #f2f2f2; text-align: left;">Value</th>
            </tr>
            
            {% for field, value in data.items() %}
           
            {% if field != 'cmd' %}

                <tr>
                    <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">{{ field.replace('_', ' ').title() }}</td>
                    
                    {% if field == 'selected_module' %}
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">
                            {% for item in value %}
                                    <p>{{ item['module_name'] }}</p>
                            {% endfor %}
                        </td>
                        
                    {% elif field == 'questions_answer' %}
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">
                            {% for item in value %}
                                    <p>Question : {{ item['question'] }}</p>
                                    <p>Answer   : {{ item['answer'] }}</p>
                            {% endfor %}
                        </td>

                    {% else %}
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">{{value}}</td>
                    {% endif %}

                </tr>

            {% endif %}
            {% endfor %}

        </table>

        <p>Thank You.</p>
    </div>

</body>

